
.boardHeader{
    font-size:25px; margin-top:60px;
    margin-left:220px; margin-bottom:20px;
    font-weight:bold;
    display:inline-block; padding-bottom:12px;
    border-bottom:5px solid #dedede;
    text-shadow: 0px 1px 1px #dedede;
}
.boardMenu {clear:both; width:700px; margin:0 auto;}
.boardMenu ul li, .boardContent ul li {
    float:left; font-weight: bold;
     color: #fff;
    background-color: black; min-height: 44px;
    text-align: center;font-size: 16px;
    padding: 15px 0;
}
.boardMenu ul li:first-child{width:80px; height:52px;}
.boardMenu ul li:nth-child(2), .boardContent ul li:nth-child(2){width:380px; }
.boardMenu ul li:nth-child(3), .boardContent ul li:nth-child(3){width:120px; }
.boardMenu ul li:last-child, .boardContent ul li:last-child{width:120px;}
.boardContent ul li{
    background-color:inherit; border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd; color:#1e1e1e; font-weight: normal;
    font-size:16px;
}
.boardContent ul li:first-child{width: 80px; height:54px;}
.boardContent ul {
    clear:both; width:700px;
    margin:0 auto;}
.boardContent ul:last-child li{margin-bottom:40px;}
.text-right{
    clear:both; width:700px;

    margin:0 auto;
}








.postIndex_boardName h4{
    font-size:25px; margin-top:60px;
    margin-left:200px; margin-bottom:20px;
    font-weight:bold; display:inline-block;
    padding-bottom:12px; border-bottom:5px solid #dedede;
    text-shadow: 0px 1px 1px #dedede;
}
.text-center {display:inline-block; margin-right:30px;}

.boardWrap{margin-left:200px; margin-top:50px;}
.action__post a:last-child{ margin-left:30px; margin-right:0;}
#boardName{width:200px;}




.page-header h4 {color:#aaa; font-size:22px;}
.btn-primary {margin:30px 0; float:none;}
.editWrap{width:300px; margin:0 auto; margin-left:150px;}

.m_notice{display:none;}



@media screen and (max-width:960px) {
    .container {
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
    }
    .m_notice {
        width:100%; padding:4.5vw 0;
        background-color:white;
        box-shadow: 0 1px 7px 0 rgba(0,0,0,.15);
        display:block;
    }
    .m_notice span{
        margin-left:5vw; font-size:4.5vw;
        font-weight:bold;
     }
    .boardHeader, .boardMenu, .boardContent ul li:first-child{display:none;}
    .boardContent ul li:nth-child(2){width:42vw;}
    .boardContent ul li:nth-child(3){width:22vw;}
    .boardContent ul li:last-child{width:36vw;}
    .text-right{width:100%; text-align: center;}

    .postIndex_boardName {display:none;}
    .boardWrap{margin-left:0; margin-top:0;}
    .text-center{
        margin-right:0; width:100%;
    }
    .btn-default, .btn {width:90%; }

    .btn {padding: 15px 12px;}
    .action__post a:last-child{ margin-left:0px;}
    .action__post a {margin-top:4vw; margin-bottom:4vw;}
    #budelete{margin-left:5vw; margin-top:4vw; float:none;}




    #board_create{display:none;}
    #boardName{
        margin:0 auto; margin-top:8vw;
        width:90%; font-size:16px;
        padding: 20px 12px;
    }
    .form-group2 {
        text-align:center; margin:5vw 0;
        font-size:16px;
    }






    .page-header {display:none; }
    .editWrap {  margin:0 auto; width:100%; }
    .btn-primary {float:none;}
    #btn-primary {margin-left:5vw;}
    #title_label{display:none;}












}
