    body {background-color:#ebeef1;}
    .comment_update{display:none;}
    .commentEditWrap{display:none;}
    .repliy{display:none; position:relative;}
    #container{
        width:980px; background-color:white;
        box-shadow: 0 1px 3px 0 rgba(0,0,0,.15); margin-top:60px;
        min-height:960px; margin-bottom:60px;
        }
    .postShow_header1  { margin-top:30px; height:40px;}
    .postShow_header1 ul { padding-bottom:50px; border-bottom: 2px solid #ddd;}
    .postShow_header1 ul li:first-child{
        font-size:22px; width:620px;
        overflow: hidden;  font-weight: bold;
    }
    .postShow_header1 ul li:last-child{
        float:right; color:deepskyblue;
        font-size:14px; padding-top:5px;
    }
    .postShow_header2{
        margin-top:40px; height:30px;
        margin-bottom:30px;
    }
    .postShow_header2 ul li {padding :0; font-size:15px; color:darkgray;}
    .postShow_header2 ul li:last-child{padding-right:25px;}
    .postShow_header2 ul li:nth-child(2), .postShow_header2 ul li:last-child{float:right;}
    .postShow_header1 ul li,  .postShow_header2 ul li {float:left;}
    .postContent{min-height:300px; overflow:auto;}
    .voteFunction {
        margin:0 auto; width:143px;
        margin-top:20px;
    }
    .voteFunction ul li {
        float:left; margin-bottom:50px;
        border:none; box-shadow: 0 1px 3px 0 rgba(0,0,0,.15);
    }
    .voteFunction form {display: inline-block; float:left;}
    .voteFunction ul li img {width:20px; padding-bottom:2px;}
    .voteFunction ul li span{font-size:15px;}
    .voteFunction ul li {background-color:cornsilk;}
    .voteFunction ul form:first-child li:first-child {margin-right:15px;}
    .voteFunction ul li:hover {background-color:white;}
    .fileWrap {
        clear:both; height:34px;
        margin-bottom:50px; width:524px;
    }
    .fileWrap form{float:left; margin-right:30px;}
    .action__post{clear:both; margin:50px 0 60px 0;}
    .fileWrap{ display:inline-block; float:left; }
    .fileWrap button{
    font-weight:bold; color:white;
    text-overflow:ellipsis; white-space:nowrap;
    word-wrap:normal; max-width:180px;
    overflow:hidden; text-align:left;
    }
    .comment_Wrap{
        clear:both; background-color:#eee;
        margin-bottom:20px; box-shadow: 0 1px 3px 0 rgba(0,0,0,.15);
    }
    .com{
        clear:both; margin-bottom: 0px;
        height:30px;
    }
    .sendButton{margin-left:11px;}
    .editComment{margin-right:30px;}
    .comment_update button {text-align:right;}
    .container__comment{padding:15px;}
    .commentRegister ul {display:inline-block;}
    .commentRegister ul li{float:left;}
    .commentRegister ul li:first-child {
        margin-right:40px; clear:both;
        font-weight: bold; font-size:15px;
        margin-bottom:5px;
    }
    .commentRegister ul li:last-child {color:darkgray;}
    .commentContent1{
        clear:both; width:100%;
        min-height:40px; float:left;
        padding:0px 0; margin-left:4px;
        font-size:15px;
    }
    .repliyWrite{
        float:left; margin-bottom:20px;
        cursor:pointer; width:100%;
    }
    .editButton{float:right;}
    .ReCom {position:relative;}
    .recomment2{ cursor: pointer;}
    .repliyCancle {
        display:inline-block; cursor: pointer;
        z-index: 9999; margin-left:70px;
        margin-top: -144px; position: relative;
    }
    .commentRepliy{clear:both; margin-left:30px;}
    .commentRepliy ul{display:inline-block; margin-bottom:0;}
    .commentRepliy img {margin-top: -30px;}
    .commentContent2{margin-left:30px;}
    .form-group textarea{width:809px; margin-left:29px; min-height:73px; float:left;}
    .sendButton{margin-bottom:15px; height:73px;
    width:100px; float:left;}
@media screen and (max-width:960px) {
    .m_notice {
        width:100%; padding:4.5vw 0;
        background-color:white;
        box-shadow: 0 1px 7px 0 rgba(0,0,0,.15);
        display:block;
    }
    .m_notice span{
        margin-left:5vw; font-size:4.5vw;
        font-weight:bold;
     }
    #container{
        width:100%;     margin-top:0;
        margin-bottom:0;
    }
    .postContent{ width:100%;}
    .postShow_header1{display:none;}
    .postShow_header2{margin-top:10px; margin-bottom:10px;}
    .fileWrap{width:0;}
    .form-horizontal .form-group{margin-left:0; margin-right:0;}
    .form-group textarea { margin-left:0; width:100%;}
    .form-group{margin-bottom:0;}
    .sendButton{
        margin-left:0; float:right;
        height:45px; width:85px;
        margin-top:15px;
    }
}
